.cardProductTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  @include font(0)
  background-image: url("/img/site/cases/troikacase/gradient-cartProduct@3x.png")
  background-repeat: no-repeat
  background-size: rem(227) rem(343)
  background-position: top left
  &__caption
    margin: rem(60) 0 rem(20) 0
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: 0.69
    letter-spacing: rem(2)
    text-align: center
    @media (max-width: $mobile)
      @include font(24)
  &__description
    width: 60vw
    margin-bottom: rem(50)
    opacity: 0.7
    @include PTSansRegular
    @include font(16)
    line-height: 1.75
    text-align: center
    color: $textBlack
    @media (max-width: $mobile)
      width: 80vw
      @include font(14)
  &__cakeImperial
    width: 61vw
    margin-bottom: rem(80)
    @media (max-width: $mobile)
      width: 90vw
