.catalogTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  @include font(0)
  &__caption
    margin: rem(100) 0 rem(20) 0
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: 0.69
    letter-spacing: rem(2)
    text-align: center
    color: $textBlack
    @media (max-width: $mobile)
      @include font(24)
  &__description
    width: 56.6vw
    margin-bottom: rem(50)
    opacity: 0.7
    @include PTSansRegular
    @include font(16)
    line-height: 1.75
    text-align: center
    color: $textBlack
    @media (max-width: $mobile)
      width: 80vw
      @include font(14)
  &__slider
    display: flex
    flex-direction: row
    justify-content: center
    margin: 0 14vw
    margin-bottom: rem(79)
    &-first
      width: 23.9vw
      height: 13.2vw
      border: 1px solid #D7D7D7
      border-right: none
    &-second
      width: 24.1vw
      border: 1px solid #D7D7D7
      box-shadow: 0 6px 19px 0 rgba(246, 150, 121, 0.15)
    &-third
      width: 23.9vw
      height: 13.2vw
      border: 1px solid #D7D7D7
      border-left: none
    @media (max-width: $mobile)
      flex-direction: column
      margin: 0
      &-first, &-second, &-third
        width: 80vw
        height: auto
        border: 1px solid #D7D7D7
        margin-bottom: rem(40)
  &__screen
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &-responsive
      width: 55.2vw
      @media (max-width: $mobile)
        width: 100vw
    &-mobile
      position: absolute
      width: 16.2vw
      height: 22.7vw
      right: 18.5vw
      bottom: 4vw
      @media (max-width: $mobile)
        position: relative
        width: 40vw
        right: -34.5vw
        bottom: 50vw

