.constructorTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  @include font(0)
  background-image: url("/img/site/cases/troikacase/cake-background@3x.png")
  background-repeat: no-repeat
  background-size: rem(250) rem(188)
  background-position: bottom left 5vw
  @media (max-width: $mobile)
    background-image: none
  &__caption
    margin-bottom: rem(20)
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: 0.69
    letter-spacing: rem(2)
    text-align: center
    @media (max-width: $mobile)
      @include font(24)
  &__description
    width: 62.2vw
    margin-bottom: rem(50)
    opacity: 0.7
    @include PTSansRegular
    @include font(16)
    line-height: 1.75
    text-align: center
    color: $textBlack
    @media (max-width: $mobile)
      width: 80vw
      @include font(14)
  &__buttonConstructor
    width: rem(192)
    height: rem(32)
    margin-bottom: rem(30)
    box-shadow: 0 13px 19px 0 rgba(246, 150, 122, 0.2)
    cursor: pointer
  &__order
    width: 43.8vw
    margin-bottom: rem(20)
    @media (max-width: $mobile)
      width: 90vw
  &__buttonOrder
    width: 36vw
    @media (max-width: $mobile)
      width: 70vw