@font-face
  font-family: "PTSans"
  src: url("/fonts/cases/PTSans/PTSans-Regular.woff2") format("woff2"),url("/fonts/cases/PTSans/PTSans-Regular.woff") format("woff")
  font-weight: normal
  font-style: normal

@mixin PTSansRegular
  font-family: "PTSans", serif


@font-face
  font-family: "PlayFairDisplay"
  src: url("/fonts/cases/PlayFairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"),url("/fonts/cases/PlayFairDisplay/PlayfairDisplay-Regular.woff") format("woff")
  font-weight: normal
  font-style: normal

@mixin PlayFairDisplayRegular
  font-family: "PlayFairDisplay", serif

