$backgroundColor: #ffffff
$basefontSize: 16
$textBlack: #000000
$textWhite: #ffffff
$textPeach: #ff9778
$textGray: #bcbcbc
//Transitions
$wide-desktop: 1440px
$middle-desktop: 1366px
$desktop: 1281px
$small-desktop: 1140px
$tablet: 1024px
$fablet: 880px
$mobile: 600px
$small-mobile: 360px

@mixin font($size)
  font-size: $size + px
  font-size: ($size/$basefontSize) + rem

// Sizes
@function rem($val)
  @return #{$val / $basefontSize}rem

*
  box-sizing: border-box



