.main-pageTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  background-color: #f5f5f5
  @include font(0)
  &__transition
    position: absolute
    top: rem(-70)
    width: rem(58)
    height: rem(137)
    margin: 0 auto
    background-image: url("/img/site/cases/troikacase/transition@3x.png")
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
    @media (max-width: $mobile)
      top: rem(-52)
      width: rem(34)
      height: rem(81)
  &__caption
    margin: rem(30) 0 rem(70) 0
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: 0.68
    letter-spacing: rem(2)
    text-align: center
    color: $textBlack
    @media (max-width: $mobile)
      @include font(24)
  &__macbook
    width: 80.2vw
    height: auto
    margin-bottom: rem(50)
  &__slider
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100vw
    margin-bottom: rem(40)
    @media (max-width: $mobile)
      flex-direction: column
      margin-bottom: 0
    &-second, &-third, &-fourth
      width: 28.1vw
      @media (max-width: $mobile)
        width: 100vw
        margin-bottom: rem(40)
    &-first, &-fifth
      width: 4.8vw
      @media (max-width: $mobile)
        display: none