.menuTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  @include font(0)
  background-image: url("/img/site/cases/troikacase/gradient-menu@3x.png")
  background-repeat: no-repeat
  background-size: rem(225) rem(378)
  background-position: top rem(150) left
  @media (max-width: $mobile)
    background-image: none
  &__transitionSecond
    width: rem(57.6)
    height: rem(121.6)
    position: absolute
    top: rem(87)
    z-index: 1
    @media (max-width: $mobile)
      width: rem(34)
      height: rem(81)
      top: rem(102)
  &__caption
    margin: rem(115) 0 rem(30) 0
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: 0.69
    letter-spacing: rem(2)
    text-align: center
    z-index: 2
    @media (max-width: $mobile)
      @include font(24)
  &__catalog
    width: 61vw
    margin-bottom: rem(70)
    box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1)
    z-index: 2
    @media (max-width: $mobile)
      width: 100vw
  &__screens
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    margin-bottom: rem(25)
    @media (max-width: 800px)
      flex-direction: column
      padding: 0
      margin-bottom: rem(40)
    &-container
      display: flex
      flex-direction: column
      margin-right: rem(25)
      @media (max-width: 800px)
        margin-right: 0
      &__about
        width: 37.7vw
        margin-bottom: rem(25)
        box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1)
        @media (max-width: 800px)
          margin-bottom: rem(40)
          width: 90vw
          align-self: flex-start
      &__contact
        width: 37.7vw
        box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1)
        @media (max-width: 800px)
          width: 90vw
          align-self: flex-end
          margin-bottom: rem(40)
    &-basket
      width: 33.8vw
      box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1)
      @media (max-width: 800px)
        width: 90vw
        align-self: flex-start
  &__successfulOrder
    width: 73.4vw
    box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1)
    margin-bottom: rem(70)
    @media (max-width: 800px)
      margin-right: 0
      margin-left: 0
      width: 90vw
      align-self: flex-end
  &__cake
    width: 12.6vw
    margin-bottom: rem(70)
    @media (max-width: 800px)
      width: 20vw

