.ui-kitTroika
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  @include font(0)
  padding-top: rem(110)
  &__logo
    width: rem(138)
    height: rem(142)
    margin-bottom: rem(60)
  &__textMain
    margin-bottom: rem(20)
    @include PlayFairDisplayRegular
    @include font(28)
    line-height: normal
    letter-spacing: rem(2)
    color: $textBlack
    @media (max-width: $mobile)
      @include font(24)
  &__text
    width: 54.8vw
    margin-bottom: rem(80)
    @include PTSansRegular
    @include font(16)
    line-height: 1.75
    text-align: center
    color: $textBlack
    opacity: 0.7
    @media (max-width: 600px)
      width: 80vw
      @include font(14)

  &__elements
    width: 100%
    height: auto
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    padding-bottom: rem(162)
    padding-left: 13vw
    @media (max-width: $tablet)
      justify-content: flex-start
      padding-right: 13vw
    @media (max-width: 750px)
      flex-direction: column
      align-items: center
      text-align: center
    //colors
    &-colors
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
      .colorsText
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .colorsContainer
        display: flex
        flex-direction: row
        &__peach, &__black, &__gray
          width: rem(60)
          height: rem(60)
          margin-right: rem(15)
        &__peach
          background-color: $textPeach
        &__black
          background-color: $textBlack
        &__gray
          background-color: $textGray
          margin-right: 0
    //fonts
    &-fonts
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      .fonts__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .fonts__PFD
        @include PlayFairDisplayRegular
        @include font(28)
        line-height: 0.69
        color: $textBlack
        @media (max-width: $mobile)
          @include font(24)
      .fonts__PFD-text
        margin-bottom: rem(10)
        opacity: 0.5
        @include PlayFairDisplayRegular
        @include font(14)
        line-height: 2.14
        color: #090909
      .fonts__PTSans
        @include PTSansRegular
        @include font(17)
        line-height: 1.13
        color: $textBlack
      .fonts__PTSans-text
        opacity: 0.5
        @include PTSansRegular
        @include font(14)
        line-height: 2.14
        color: #090909
    //icons
    &-icons
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
      .icons__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .icons__container
        width: rem(176)
        height: rem(104)
    //checkbox
    &-checkbox
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      .checkbox__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .checkbox__container
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: rem(15)
        &-default, &-hover, &-click
          width: rem(19)
          height: rem(19)
          margin-right: rem(15)
          cursor: pointer
        &-text
          opacity: 0.5
          @include PTSansRegular
          @include font(14)
          color: #090909
    //кнопки
    &-buttons
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
      .buttons__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        align-self: flex-start
        @media (max-width: 750px)
          align-self: center
        @media (max-width: $mobile)
          @include font(20)
      .buttons__container
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: rem(15)
        @media (max-width: 850px)
          flex-direction: column
          align-items: flex-start
        @media (max-width: 750px)
          align-items: center
        &-default, &-hover, &-click
          display: flex
          align-items: center
          justify-content: center
          width: rem(152)
          height: rem(32)
          border-radius: rem(1)
          margin-right: rem(15)
          @include PTSansRegular
          @include font(14)
          color: $textWhite
          cursor: pointer
          @media (max-width: 850px)
            margin-bottom: rem(15)
            margin-right: 0
        &-default
          background-color: #f9baa7
        &-hover
          background-color: #f69679
        &-click
          background-color: #f5a88b
        &-text
          opacity: 0.5
          @include PTSansRegular
          @include font(14)
          color: #090909
    //ссылки
    &-link
      display: inline-block
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      .link__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
        &-disactive, &-active, &-crossOut
          opacity: 0.7
          @include font(17)
          line-height: 1.76
          cursor: pointer
        &-disactive
          display: block
          color: $textBlack
        &-active
          display: inline-block
          color: #f69679
          border-bottom: solid 1px #f69679
        &-crossOut
          display: block
          color: #f69679
          text-decoration: line-through
    //списки
    &-lists
      position: relative
      left: rem(-15)
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
        left: 0
        align-items: center
      .lists__text
        margin-bottom: rem(20)
        padding-left: rem(12)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .lists__container
        width: rem(171)
        height: rem(192)
    //переключатели
    &-switches
      display: flex
      flex-direction: column
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      .switches__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .switches__container
        width: rem(223)
        height: rem(182)
    //календарь
    &-calendar
      display: flex
      flex-direction: column
      position: relative
      left: rem(-15)
      margin-bottom: rem(80)
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
        left: 0
        align-items: center
      .calendar__text
        margin-bottom: rem(20)
        padding-left: rem(15)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .calendar__container
        width: rem(192)
        height: rem(218)
    //поля ввода
    &-input
      display: flex
      flex-direction: column
      min-width: calc(66.66%)
      @media (max-width: 1120px)
        margin-bottom: rem(80)
        margin-right: 7.8vw
      @media (max-width: $tablet)
        margin-bottom: rem(80)
      @media (max-width: 750px)
        align-items: center
      .input__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .input__container
        display: flex
        flex-direction: row
        margin-bottom: rem(20)
        align-items: baseline
        @media (max-width: 810px)
          flex-direction: column
        @media (max-width: 750px)
          align-items: center
        &:last-child
          margin-bottom: 0
        &-img
          width: rem(217)
          height: rem(30)
          margin-right: rem(15)
          &:first-child
            margin-right: rem(40)
            @media (max-width: 810px)
              margin-right: 0
          @media (max-width: 810px)
            margin: rem(10) 0
            &.margin
              margin-bottom: rem(20)
          .error
            display: inherit
            text-align: left
            @include PlayFairDisplayRegular
            @include font(10.2)
            letter-spacing: rem(0.1)
            color: #f69679
            line-height: 2
        &-text
          opacity: 0.5
          @include PTSansRegular
          @include font(14)
          color: #090909
          line-height: 2
          margin-bottom: rem(17)
          align-self: center
          @media (max-width: 810px)
            align-self: flex-start
          @media (max-width: 750px)
            align-self: center
    //радиокнопки
    &-radiobutton
      display: flex
      flex-direction: column
      min-width: calc(33.33%)
      @media (max-width: $tablet)
        margin-right: 7.8vw
      @media (max-width: 750px)
        margin-right: 0
      .radiobutton__text
        margin-bottom: rem(20)
        @include PlayFairDisplayRegular
        @include font(22)
        color: $textBlack
        @media (max-width: $mobile)
          @include font(20)
      .radiobutton__container
        display: flex
        flex-direction: row
        margin-bottom: rem(10)
        align-items: center
        &-img
          width: rem(24)
          height: rem(24)
          margin-right: rem(15)
          cursor: pointer
        &-text
          opacity: 0.5
          @include PTSansRegular
          @include font(14)
          color: #090909

