@import "reset"
@import "guide"
@import "fonts"
@import "aos"
@import "uiKit"
@import "main-page"
@import "catalog"
@import "cardProduct"
@import "constructor"
@import "menu"


.troikaWrapper
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100vh
  overflow: hidden
  @include font(0)